<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.diplom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Vvod"
            android:label="@string/title_activity_vvod"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Sozd"
            android:label="@string/title_activity_sozd"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Vuvod"
            android:label="@string/title_activity_vuvod"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Sprod"
            android:label="@string/title_activity_sprod"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Pprod"
            android:label="@string/title_activity_pprod"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Sdiet"
            android:label="@string/title_activity_sdiet"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Pdiet"
            android:label="@string/title_activity_pdiet"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Spisok"
            android:label="Hello"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Creation"
            android:label="@string/title_activity_creation"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>